################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Fransom/obj/Debug
/FransomDLL/obj/Debug
